<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3 container-fluid" id="sidebar">
			<!-- <nav class="navbar navbar-default">
				<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mail-tabs" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
				<div class="navbar-collapse collapse" id="mail-tabs"> -->
					<ul class="nav nav-tabs" ng-init="selectedTab = 'inbox'">
						<li role="navigation" [class.active]="selectedTab ==='inbox'" (click)="getMessages()"><a class="nav-link">Inbox <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></li>
						<li role="navigation" [class.active]="selectedTab ==='sent'" (click)="getSent()"><a class="nav-link">Sent</a></li>
						<li role="navigation" [class.active]="selectedTab ==='trash'" (click)="getTrash()"><a class="nav-link">Trash</a></li>
					</ul>
				<!-- </div>
			</nav> -->

			<div class="mail-scroll">
				<ul class="mail">
					<li *ngFor="let msg of mail | paginate: {itemsPerPage: 10, currentPage: p }; let i = index" [class.read]="msg.READSTATUS === 'F'" [class.selected]="msg === selectedMsg" [routerLink] = "['/message', msg.MSGID]" (click)="onSelect(msg)"> 
						<div><span class="subject">{{msg.SUBJECT}}</span><span class="date">{{msg.DATESENT}}</span></div>
						<div>
							<span class="sender">{{msg.SENDER}}</span>
							<button *ngIf="selectedTab === 'inbox'" id="trashIcon" type="button" class="btn btn-danger btn-sm" (click)="deleteMessage(msg)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</div>
					</li>
				</ul>
			</div>
			<div class="container pagination-styles" id="pagination">
				<pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
			</div>
		</div>
		<div class="col-xs-9" id="content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
