.selected {
	background-color: #80b6fc !important;
}

.read {
	font-weight: bold !important;
}

#sidebar {
	/*border: 0.1px solid gray;*/
	min-height: 100%;
	padding:0;
}

.title {
	background-color: #f0f0f0;
	border-bottom: 1px solid #ddd;

}

.mail {
	list-style-type: none;
	left:0;
	width:100%;
	padding: 0;
}

.mail li {
	/*position: relative;*/
	left: 0;
	background-color:white;
	border: none;
	border-bottom: 0.1px solid #f0f0f0;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.subject { 
	
}

.date {
	float: right;
	color: gray;
	font-size:;
}

/*.nav-mail {
	background-color: #f0f0f0;
}*/

#content {
	padding: 0;
	padding-left: 1px;
	border-left: 0.1px solid gray;
	height: 100%;
}

.show {
	display: block !important;
}

#trashIcon { 
	float: right;

}

.navbar {

}

.nav {
	background-color: #136AA9; 
}

.nav-link {
	cursor: pointer;
	color: white;
}

.nav-link:hover {
	background-color: #083759;
}
.navbar-toggle {
	background-color: #136AA9;
}

.pagination-styles {
	width: 100%;
	position: absolute;
	bottom: 0;
}