<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 container-fluid" id="sidebar">
			<ul ng-init="selectedTab = 'inbox'" class="nav nav-tabs nav-mail">
				<li ng-class="{'active':selectedTab ==='inbox'}" ng-click="selectedTab='inbox'" class="nav-item">
					<a class="nav-link active" href="#">Inbox</a>
				</li>
				<li ng-class="{'active':selectedTab ==='sent'}" ng-click="selectedTab='sent'" class="nav-item">
					<a class="nav-link" href="#">Sent</a>
				</li>
				<li ng-class="{'active':selectedTab ==='trash'}" ng-click="selectedTab='trash'" class="nav-item">
					<a class="nav-link" href="#">Trash</a>
				</li>
			</ul>
			<ul class="mail">
				<li *ngFor="let msg of mail" [class.read]="msg.READSTATUS === 'F'" [class.selected]="msg === selectedMsg" [routerLink] = "['/message', msg.MSGID]" (click)="onSelect(msg)"> 
					<div><span class="subject">{{msg.SUBJECT}}</span><span class="date">{{msg.DATESENT}}</span></div>
					<div class="sender">{{msg.SENDER}}</div><button type="button" class="btn btn-danger" (click)="deleteMessage(msg)">Delete</button>
				</li>
			</ul>
		</div>
		<div class="col-lg-9 hidden-xs hidden-sm hidden-md" id="content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
