.selected {
	background-color: #80b6fc !important;
}

.read {
	font-weight: bold !important;
}

#sidebar {
	min-height: 100%;
	padding:0;
	display: flex;
	flex-direction: column;
}

.mail {
	list-style-type: none;
	left:0;
	width:100%;
	padding: 0;
	flex: 1;
	min-height: -webkit-min-content;
}
.mail li {
	/*position: relative;*/
	left: 0;
	background-color:white;
	border: none;
	border-bottom: 0.1px solid #f0f0f0;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.mail li > div > span {
	display: block;
}
.mail-scroll {
	flex: 1;
	overflow-y: auto;
}

#content {
	padding: 0;
	padding-left: 1px;
	border-left: 0.1px solid gray;
	height: 100%;
}
.sender {
	color: #136AA9;
	font-style: italic;
}
.date {
	color: gray;
}
#trashIcon { 
	float: right;
}
 

.show {
	display: block !important;
}

/* NAVBAR STYLES */
.nav {
	background-color: #136AA9; 
}
.navbar {
	margin-bottom: 0px;
	border: none;
	min-height: 20px;
}
.nav-link {
	cursor: pointer;
	color: white;
}
.nav-link:hover {
	background-color: #083759;
}
.navbar-toggle {
	float: left;
	margin-bottom: 0px;
	margin-left: 2px;
}
.navbar-collapse {
	padding: 0px;
}

/* PAGINATION STYLES */ 
.pagination-styles {
	display: flex;
	justify-content: center;
}
.pagination-styles /deep/ .ngx-pagination {
	padding: 0px;
	margin-bottom: 0px;
}


/* SCROLL BAR STYLES */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}