.selected {
	background-color: #80b6fc !important;
}

.read {
	font-weight: bold !important;
}

#sidebar {
	/*border: 0.1px solid gray;*/
	min-height: 100vh;
	padding: 0.5px;
	padding-top: 0;
	padding-bottom: 0;
}

.title {
	background-color: #f0f0f0;
	border-bottom: 1px solid #ddd;

}

.mail {
	list-style-type: none;
	left:0;
	width:100%;
	padding: 0;
}

.mail li {
	/*position: relative;*/
	left: 0;
	background-color:white;
	border: none;
	border-bottom: 0.1px solid #f0f0f0;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.subject { 
	
}

.date {
	float: right;
	color: gray;
	font-size:;
}

/*.nav-mail {
	background-color: #f0f0f0;
}*/

#content {
	padding: 1px;
	border-left: 0.1px solid gray;
	height: 100vh;
}

.show {
	display: block !important;
}

#trashIcon { 
	float: right;

}