<ul class="nav nav-pills nav-style">
	<li role="navigation">
		<a [routerLink] = "['/']">X</a>
	</li>
	<li class="disabled" role="presentation">
		<a>{{ title | uppercase }}</a>
	</li>
	<li class="active pull-right" role="navigation">
		<a (click)="sendMessage()" [routerLink] = "['/']">Send</a>
	</li>
</ul>
<div class="email-form form-group col-*-col*">
	<div class="labeled">
		<label class="col-form-label col-md-1">Subject:</label>
		<div class="col-md-11">
			<input type="text" class="form-control" [(ngModel)]="msg.subject" placeholder="Write subject here" aria-label="Write subject here" aria-describedby="basic-addon1">
		</div>
	</div>

	<div class="labeled">
		<label for="To" class="col-form-label col-xs-1">To:</label>

		<div *ngIf="accessLevel === 'admin'" class="col-xs-11">
			<select class="selectpicker" data-live-search="true" title="Select a recipient" data-size="5" [(ngModel)]="msg.recipient">
		 		<option *ngFor="let user of users">{{user.EMAIL}}</option>
			</select>
		</div>

		<div *ngIf="accessLevel === 'user'" class="col-xs-11">
			<input type="text" readonly class="form-control" placeholder="Admin" aria-label="Admin" value="bg1@company.com" [(ngModel)]="msg.recipient">
		</div>
	</div>

	<div class="message">
		<textarea class="input form-control" [(ngModel)]="msg.message" placeholder="Write message here"></textarea>
	</div>
</div>