.container-div {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.email-form {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;

}
.email-form .message {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	margin: 15px;
}
.email-form .message > textarea {
	flex: 1 0 auto;
	resize: none;
	box-sizing: border-box;
}
.email-form .labeled {
	flex: 0 0 auto;
}

.labeled {
	border-bottom: 0.1px solid #f0f0f0;
	padding: 15px;
}

.labeled .col-form-label {
	line-height: 270%;
}

.input { 
	border: none;
}

.nav-style {
	border-bottom: 1px solid #f0f0f0;
}
.nav-style li.disabled > a:hover {
	cursor: default;
}

.nav-style .active a {
	padding: 5px 10px;
    margin-top: 4px;
    margin-right: 4px;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.nav-style .active > a:focus,
.nav-style .active > a:hover {
	cursor: pointer;
	background-color: #449d44;
	border-color: #398439;
}





