<ul class="nav nav-pills nav-style">
	<li role="navigation">
		<a [routerLink] = "['/']">X</a>
	</li>
	<li class="disabled" role="presentation">
		<a>{{ title | uppercase }}</a>
	</li>
	<li class="active pull-right" role="navigation">
		<a [routerLink] = "['/write']">Write</a>
	</li>
</ul>
<div *ngIf="(msg | async)">
	<div class="labeled"><label for="subject">Subject:</label> {{ (msg | async).SUBJECT  }}</div>
	<div class="labeled"><label for="from">From:</label> {{ (msg | async).SENDER }}</div>
	<div class="labeled"><label for="sendTo">To:</label> {{ (msg | async).RECIPIENT }}</div>
	<div class="message">{{ (msg | async).MESSAGE }}</div>
</div>
